# 高德地图 Web端(JS API) Key
# 申请地址: https://console.amap.com/dev/key/app
VITE_AMAP_API_KEY=YOUR_AMAP_WEB_JS_KEY
# 高德「安全密钥/jscode」：若开启联合鉴权则填入，否则留空
VITE_AMAP_SECURITY_JS_CODE=

# Bangumi Access Token
# 申请地址: https://next.bgm.tv/demo/access-token
BANGUMI_TOKEN=YOUR_BANGUMI_ACCESS_TOKEN
# Bangumi 用户名（设置后无法使用 UID）
BANGUMI_USERNAME=YOUR_BANGUMI_USERNAME
